{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-center mb-4" style="margin-top: 5rem;">Login</h2>

<form method="POST" action="{{ url_for('login') }}">
  <div class="form-wrapper">
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-wrapper mt-2">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <div class="form-wrapper mt-3">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
{% endblock %}